<h1>Why Delta Sigs?</h1>
<h3>A Message From Our President</h3>
<p>Dear New College Student:
    <p>The Delta Sigma Phi Fraternity is a group of men who strive to make themselves and those around them better. To do this
        we focus on three main parts of all of our lives: the elevation of academic thought, working together for the common
        good, and promoting friendship within and outside the organization as well as across time through events with alumni.
        All of our resources are directed toward accomplishing these goals.</p>
    <p>There are many stereotypes that are associated with fraternities and the Greek system in general. However, as is true
        with all stereotypes, many of these are gross generalizations or are simply false. One of these stereotypes is hazing.
        While some Greek organizations haze, Delta Sigma Phi is absolutely committed to not hazing its members. Further hazing
        does not propagate the environment of respect and mutual friendship that Delta Sigma Phi seeks to elevate.</p>
    <p>Another of these stereotypes is that all fraternity men only party and drink. While we do have social events within the
        brotherhood and sororities on campus, we seek to promote a balanced lifestyle for all of our members. As a chapter
        we pride ourselves in the countless hours of community service and our stellar average chapter GPA which is well
        above the all mens undergraduate average of 3.03. We also participate in Intramural football, soccer, We believe
        that there is a place for all activities in our lives, allowing the Brothers to get the most out of their college
        experience.</p>
    <p>But, I know that just by telling you about my organization, you may not fully believe me. We invite you to our house
        for barbecues, tailgates and other social gatherings to meet the brothers and experience the life as a Delta Sigma
        Phi.</p>
    <p>Sincerely yours,</p>
    <p>Isaac Narayan</p>
    <p>President, Delta Sigma Phi Fraternity Alpha Alpha Chapter</p>
</p>
