<p>
    <h1>Frequently Asked Questions</h1></p>
<br><b>How does joining a fraternity help me in college?</b>
<br>This question is by far the most common and also the hardest to answer. The benefits of a fraternity are based upon what
your son wants to put into it.
<br>
<br><b>Will my academics be affected?</b>
<br>Delta Sigma Phi is a wealth of academic knowledge. Whether it be access to a computer labs, academic files, and other brothers
who have already taken the classes, you will never be alone in his academic pursuits. No matter the major, you will have
at least one other brother who shares his major and can offer advice and advising on classes, teachers, and studying tips.
This past semester Delta Sigma Phi ranked above the all fraternity average with a house GPA of 3.14.
<br>
<br><b>How will I become a part of the community?</b>
<br>First of all, the University of Illinois has one of the biggest Greek system in the nation. With over 40 fraternities on
campus, we are glad that you chose Delta Sigma Phi. A great aspect of joining a fraternity is the ability for you to get
involved in something bigger than yourself. As a member of Delta Sigma Phi, you are required to complete service hours, get
involved in philanthropy events, play intramural sports in the Fraternity league, and are strongly encouraged to get involved
in clubs outside of the fraternity itself. Members of Delta Sigma Phi come from diverse backgrounds and have varying interests
in both life and academics. Inside the fraternity various leadership roles help boost resumes and provide invaluable experience
for you.
<br>
<br><b>How is the Delta Sig brotherhood?</b>
<br>One of the greatest things about being in a fraternity are the relationships you will form with the other brothers. Whether
it hanging out and watching a football game on the big screen, going to Assembly Hall to cheer on the Illini basketball team,
heading to the ARC or the outdoor athletic complex for a pickup game or even staying up until 3:00 AM to simply have a talk
about the world, the relationships you form will most be the strongest ones you will form in your lifetime.
<br>
<br><b>What do dues pay for?</b>
<br>Upon joining a fraternity, you will be required to pay semester dues which allow us to function as an organization. The majority
of the dues paid go to our national organization which provides us with a variety of conferences, seminars, and leadership
programs. The remainder of our dues go towards community service, philanthropy events, athletic teams, maintaining our house,
brotherhood events like our annual camping trip, and social events such as exchanges with sororities and a formal dance.
<br>
<br><b>How big of a time commitment is there?</b>
<br>One of the biggest concerns you probably have is the issue of time management. How are you supposed to balance getting good
grades with being social and being involved in various campus activities? While academics take up the majority of our time
on campus, the fraternity only takes up what you want it to. On an official level, we have a chapter meeting every week on
Monday evenings right after dinner at 6:00. This allows plenty of time afterwards for studying and homework. Other than that,
there is no required time to be spent at the house or at fraternity events, and the majority of brothers who don’t live in
house come over when they are free and not busy with school work.
<br>
<br><b>If I have a big test, am I allowed to skip fraternity events?</b>
<br>You are here at the University of Illinois as a student first, fraternity member second. We make sure that all of our pledges
and brothers know that and are reprimanded if he doesn't meed standards on exec board.
<br>
<br><b>Does living in house offer any type of structure? Are there people responsible for the house?</b>
<br>We at Delta Sigma Phi have a great house mom, Christie Singer. Christie prepares our meals for us Monday through Friday at
lunch, and is always just a phone call away in the case of an emergency. Other than simply preparing meals, Christie acts
as our mom making sure we do our chores and focus on grades. Often times she will sit down with us at lunch and talk about
what is going on in the world and any struggles or issues we may be experiencing.
<br>
<br><b>What is the policy on hazing?</b>
<br>We pride ourselves in NOT hazing our pledges.
<br>
<br><b>What are the expenses?</b>
<br>Refer to this page.
<br>
<br><b>Have more questions?</b>
<br>If you have any other questions, please feel free to contact satkinson@illinideltasigs.org.