<div id="hero">
    <img src="img/background.jpg">
</div>
<div id="intro-text">
    <h2>Better Men. <br>
        Better Lives.</h2>
</div>  
<img id="logo"
    src="img/logo_crest.png">

<header id="navigation"
    aria-label="Navigate site"
    layout="row" layout-xs="column"
    layout-align="space-between center"
    layout-padding>
    <div id="actions"
        layout-xs="column">
        <md-button aria-label="Go to about page"
            class="md-accent md-raised md-hue-1"
            href="/about">
            about
        </md-button>
        <md-button aria-label="Go to faq page"
            class="md-accent md-raised md-hue-1"
            href="/faq">
            faq
        </md-button>
    </div>
    <md-button id="address" class="md-primary"
        href="https://www.google.com/maps/place/105+E+Armory+Ave,+Champaign,+IL+61820">
        105 E. Armory<br>
        Champaign, IL<br>
        USA
    </md-button>
</header>
